#main {
  margin: 0;
  padding: 0;
  display: block;
  align-items: center;
  text-align: center;
  width: 100%;
}

#img-div {
  display: block;
}

#image {
  display: block;
  max-width: 50%;
  height: auto;
  margin: auto;
}
